<launch>

  <arg name="bagfile" default="/home/plnegre/workspace/ros/data/bagfiles/2015_Valldemossa/06/2015-06-08-20-31-46_2.bag" />

  <param name="/use_sim_time" value="true"/>
  <arg name="camera" default="/stereo_down"/>

  <node pkg="rosbag" type="play" name="rosbag" args="--clock $(arg bagfile) -r 0.2" />

  <include file="$(find turbot)/launch/modules/stereo_pipeline.launch">
    <arg name="stereo" value="$(arg camera)" />
  </include>

  <node pkg="image_preprocessing" type="stereo_clahs_node" name="clahs_node" respawn="true" output="screen" >
    <remap from="stereo" to="$(arg camera)/scaled_x2"/>
  </node>

  <node pkg="image_preprocessing" type="stereo_dehazer_node" name="dehazer_node" respawn="true" output="screen" >
    <remap from="stereo" to="$(arg camera)/scaled_x2"/>
  </node>

</launch>
