<launch>


  <arg name="bagfile" default="/home/plnegre/workspace/ros/data/bagfiles/2016_Sant_Feliu/16/2016-06-16-13-57-13_3.bag" />


  <param name="/use_sim_time" value="true"/>
  <arg name="camera" default="/stereo_down"/>

  <node pkg="rosbag" type="play" name="rosbag" args="--clock $(arg bagfile)" />

  <include file="$(find turbot)/launch/modules/stereo_pipeline.launch">
    <arg name="stereo" value="$(arg camera)" />
  </include>

  <node pkg="image_preprocessing" type="clahs" name="clahs" output="screen">
    <remap from="image" to="$(arg camera)/scaled_x2/left/image_rect_color"/>
  </node>

</launch>
