<launch>
  <arg name="bagfiles" default="/data/HD3/2015_06_08_valldemossa/2015-06-08-20-45-49_0.bag
    /data/HD3/2015_06_08_valldemossa/2015-06-08-20-47-17_1.bag
    /data/HD3/2015_06_08_valldemossa/2015-06-08-20-48-44_2.bag
    /data/HD3/2015_06_08_valldemossa/2015-06-08-20-50-12_3.bag
    /data/HD3/2015_06_08_valldemossa/2015-06-08-20-51-39_4.bag
    /data/HD3/2015_06_08_valldemossa/2015-06-08-20-53-07_5.bag
    /data/HD3/2015_06_08_valldemossa/2015-06-08-20-54-35_6.bag
    /data/HD3/2015_06_08_valldemossa/2015-06-08-20-56-02_7.bag
    /data/HD3/2015_06_08_valldemossa/2015-06-08-20-57-30_8.bag
    /data/HD3/2015_06_08_valldemossa/2015-06-08-20-58-58_9.bag
    /data/HD3/2015_06_08_valldemossa/2015-06-08-21-00-25_10.bag
    /data/HD3/2015_06_08_valldemossa/2015-06-08-21-01-53_11.bag
    /data/HD3/2015_06_08_valldemossa/2015-06-08-21-03-21_12.bag"/>

  <arg name="camera" default="stereo_down"/>
  <arg name="image" default="image_raw"/>

  <param name="use_sim_time" value="true"/>

  <node pkg="rosbag" type="play" name="player" args="--clock -d 5 $(arg bagfiles)" output="screen" />

  <group ns="$(arg camera)">
    <node pkg="image_proc" type="image_proc" name="image_proc" output="screen"/>
  </group>

  <node ns="$(arg camera)/left" pkg="image_preprocessing" type="vignetting_remover" name="vignetting_remover_l" output="screen">
    <remap from="image" to="$(arg image)"/>
  </node>
  <node ns="$(arg camera)/right" pkg="image_preprocessing" type="vignetting_remover" name="vignetting_remover_r" output="screen">
    <remap from="image" to="$(arg image)"/>
  </node>
</launch>
